{% extends "layout.html" %}
{% block title %} Survey {% endblock %}
{% block body %}
<link href="{{ url_for('static', filename = 'lib/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename = 'css/survey.css') }}" rel="stylesheet" type="text/css" />
<div class="progress survey-bar">
  <div id="progressBar" class="progress-bar " role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 5%"></div>
</div>
<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-3 col-md-2">

    </div>
    <div class="col-lg-6 col-md-8">
      <div class=" text-center">
        <div class="survey-wrap">



          <div class="survey-wrap ">

            <div class="first-question" id="qOne">
              <div class="question-title">
                What are you saving for?
              </div>
              <div class="text-input-wrapper">
                <input type="text" class="form-control" id="goalName" placeholder="Trip to Rome?">
              </div>
            </div>
            <div class="question-wrapper" id="qTwo">
              <div class="question-title">
                How much would you like to save?
              </div>
              <div id="myal" class="range-display">
                $<input type="text" id="myGoal" class="blank-input">

              </div>
              <div class="slidecontainer" style="padding:0;" >
                <input type="range" min="0" max="100" step="" value="0" class="slider" id="goalRange" >
              </div>
            </div>
            <div class="question-wrapper" id="qThree">
              <div class="question-title">
                How old are you?
              </div>
              <div  class="range-display survey-input-wapper">
                <span class="badge badge badge-secondary"><input type="number" id="myAge" class="blank-input"></span>
              </div>
              <div class="slidecontainer" >
                <input type="range" min="18" max="100" value="25" class="slider" id="ageRange" >
              </div>
            </div>
            <div class="question-wrapper" id="qFour">
              <div class="question-title">
                What is your average yearly income?
              </div>
              <div id="" class="range-display">
                $<input type="text" id="myEarning" class="blank-input">
              </div>
              <div class="slidecontainer" >
                <input type="range" min="0" max="60" value="0" class="slider" id="earningRange" >
              </div>

            </div>
            <div class="question-wrapper" id="qFive">
              <div class="question-title">
                How much do you have saved up so far?
              </div>
              <div id="myCurrent" class="range-display">
                <span class="badge badge badge-success"><input type="number" id="currentSaved" class="blank-input"></span>

              </div>

              <div class="slidecontainer" style="padding:0;" >
                <input type="range" min="0" max="100" step="" value="0" class="slider" id="currentRange" >
              </div>
            </div>
            <div class="question-wrapper" id="qSix">
              <div class="question-title">
                How much do you think you can save each month?
              </div>
              <div id="myGoal" class="range-display">
                <span class="badge badge-pill badge-primary">0</span>

              </div>

              <div class="slidecontainer" style="padding:0;" >
                <input type="range" min="0" max="100" step="" value="0" class="slider" id="goalRange" >
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-4 text-left">
              <img class="" id="previous" src="{{ url_for('static', filename = 'images/next.svg') }}">
            </div>
            <div class="col-sm-4 text-center">
              <img class="forward-arrow mx-auto" id="next" src="{{ url_for('static', filename = 'images/play-button.svg') }}">
            </div>
          </div>





          <div class="ex1Slider" role="slider" aria-valuemin="-5" aria-valuemax="20" aria-valuenow="9" aria-valuetext="Current value: 9" tabindex="0" style="left: 56%;"></div>

        </div>
    </div>
  </div>
</div>
</div>
<script>
//CONSTANT VARIABLES
var SURVEY_DIVS = ["qOne","qTwo","qThree","qFour","qFive","qSix"];
var SURVEY_RESULTS = ["","","","","",""];
var CURRENT_PANEL = 0;
//event listener
document.getElementById("goalName").addEventListener("change", function(){
  SURVEY_RESULTS[0] = document.getElementById("goalName").value;
});
document.getElementById("myGoal").addEventListener("change", function(){
  console.log("99999999".toLocaleString());
  document.getElementById("myGoal").value = document.getElementById("myGoal").value.toLocaleString();
});
document.getElementById("goalRange").addEventListener("mousemove", function(){
  if(mouseDown){
    document.getElementById("myGoal").value = savingScaller((document.getElementById("goalRange").value)).toLocaleString();
  }
});
document.getElementById("ageRange").addEventListener("mousemove", function(){
    document.getElementById("myAge").value = document.getElementById("ageRange").value;
    //document.getElementById("myGoal").innerHTML = '<span class="badge badge badge-success">'+document.getElementById("goalRange").value + '</span>';
});
document.getElementById("earningRange").addEventListener("mousemove", function(){
  if(mouseDown){
    document.getElementById("myEarning").value =  earningCalculator(document.getElementById("earningRange").value).toLocaleString() ;
  }
});

document.getElementById("currentRange").addEventListener("mousemove", function(){
  if(mouseDown){
    var percentage = document.getElementById("currentRange").value;
    var goal = parseInt(document.getElementById("myGoal").value.replace(/\,/g,''));
    document.getElementById("currentSaved").value =  goal*(percentage/100).toLocaleString();
  }
});

//next button
document.getElementById("next").addEventListener("click", function(){
  //see if you are at the last position
  console.log(CURRENT_PANEL);
  if(CURRENT_PANEL < (SURVEY_DIVS.length-1)){
    //go to the next pannel
    goToPanel(CURRENT_PANEL + 1);
    CURRENT_PANEL ++;
    updateButtonStates();
    updateProgressBar()

  }
});
//previous
document.getElementById("previous").addEventListener("click", function(){
  //see if you are at the last position
  console.log(CURRENT_PANEL);
  if(CURRENT_PANEL > 0){
    //go to the next pannel
    goToPanel(CURRENT_PANEL - 1);
    CURRENT_PANEL --;
    updateButtonStates();
    updateProgressBar()

  }
});


//supporting functions
function goToPanel(pannelIndex){
  //set the current div to hidden
  document.getElementById(SURVEY_DIVS[CURRENT_PANEL]).style.display = "none";
  //set the new div to visible
  document.getElementById(SURVEY_DIVS[pannelIndex]).style.display = "block";
}


function updateButtonStates(){
  if(CURRENT_PANEL == (SURVEY_DIVS.length-1)){// hide the next
    document.getElementById("next").style.display = "none";
  }else{//show the next
    document.getElementById("next").style.display = "block";
  }
  if(CURRENT_PANEL == 0){// hide the next
    document.getElementById("previous").style.display = "none";
  }else{//show the next
    document.getElementById("previous").style.display = "block";
  }
}

function updateProgressBar(){

    document.getElementById("progressBar").style.width = (((CURRENT_PANEL + 1)/SURVEY_DIVS.length)*100).toString() + "%";

}

//functions relating to the scalling of the Slider
function savingScaller(slider){
  if(slider <= 5){ // if it is between 1 and 5 then it is hundreds
    return slider*100;
  } else if(slider <= 15){ // inciments of 500 after 500
    return (slider-4)*500;
  } else if(slider <= 35){ // incirments of 1000 after 5000
    return (slider-10)*1000;
  } else if(slider <= 74){ // incriments of 5000 after 25000 too 120000
    return (slider-30) * 5000;
  }else { // last steps are inciments of 10,000
    return (slider-63) *10000;
  }
}

function earningCalculator(slider){
  if(slider <= 10){ // if it is between 1 and 10 then it is thousands
    return slider*5000;
  } else if(slider <= 25){ // inciments of 10000 after 50000 to 20000
    return (slider-5)*10000;
  } else if(slider <= 30){ // incirments of 20000 after 200000 to 300000
    return (slider-15)*20000;
  } else { // incriments of 50000 after 300000 to 500000
    return (slider-19) * 50000;
  }
}



// To check about the mouse
var mouseDown = 0;
document.body.onmousedown = function() {
  ++mouseDown;
}
document.body.onmouseup = function() {
  --mouseDown;
}



</script>
{% endblock %}
