{% extends "layout.html" %}
{% block title %} Survey {% endblock %}
{% block body %}
<link href="{{ url_for('static', filename = 'lib/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename = 'css/survey.css') }}" rel="stylesheet" type="text/css" />
<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-3 col-md-2">

    </div>
    <div class="col-lg-6 col-md-8">
      <div class="card text-center">
        <div class="survey-wrap">


          <div class="survey-wrap">
            <h2>RoboFinancial Planner</h2>
            <br>
            <div class="progress">
              <div id="progressBar" class="progress-bar " role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 5%"></div>
            </div>
            <br>
            <div class="first-question" id="qOne">
              <div class="question-title">
                What are you saving for?
              </div>
              <div class="text-input-wrapper">
                <input type="text" class="form-control" id="goalName" placeholder="Trip to Rome?">
              </div>
            </div>
            <div class="question-wrapper" id="qTwo">
              <div class="question-title">
                How much would you like to save?
              </div>
              <div id="myal" class="range-display">
                <span class="badge badge badge-success"><input type="number" id="myGoal" class="blank-input"></span>

              </div>
              <div class="slidecontainer" style="padding:0;" >
                <input type="range" min="0" max="100" step="" value="0" class="slider" id="goalRange" >
              </div>
            </div>
            <div class="question-wrapper" id="qThree">
              <div class="question-title">
                How old are you?
              </div>
              <div id="myAge" class="range-display">
                <span class="badge badge-pill badge-primary">0</span>
              </div>
              <div class="slidecontainer" >
                <input type="range" min="1" max="100" value="50" class="slider" id="ageRange" >
              </div>
            </div>
            <div class="question-wrapper" id="qFour">
              <div class="question-title">
                What is your average yearly income?
              </div>
              <div id="myGoal" class="range-display">
                <span class="badge badge-pill badge-primary">0</span>

              </div>

              <div class="slidecontainer" style="padding:0;" >
                <input type="range" min="0" max="100" step="" value="0" class="slider" id="goalRange" >
              </div>
            </div>
            <div class="question-wrapper" id="qFive">
              <div class="question-title">
                How much do you have saved up so far?
              </div>
              <div id="myGoal" class="range-display">
                <span class="badge badge-pill badge-primary">0</span>

              </div>

              <div class="slidecontainer" style="padding:0;" >
                <input type="range" min="0" max="100" step="" value="0" class="slider" id="goalRange" >
              </div>
            </div>
            <div class="question-wrapper" id="qSix">
              <div class="question-title">
                How much do you think you can save each month?
              </div>
              <div id="myGoal" class="range-display">
                <span class="badge badge-pill badge-primary">0</span>

              </div>

              <div class="slidecontainer" style="padding:0;" >
                <input type="range" min="0" max="100" step="" value="0" class="slider" id="goalRange" >
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col">
              <div class="text-left">
                <button type="button" id="previous" class="btn btn-primary question-wrapper">&laquo; Previous</button>
              </div>
            </div>
            <div class="col">
              <div class="text-right">
                <button type="button" id="next" class="btn btn-primary" style="float:right;">Next &raquo;</button>

              </div>
            </div>




          <div class="ex1Slider" role="slider" aria-valuemin="-5" aria-valuemax="20" aria-valuenow="9" aria-valuetext="Current value: 9" tabindex="0" style="left: 56%;"></div>

        </div>
    </div>
  </div>
</div>
<script>
//CONSTANT VARIABLES
var SURVEY_DIVS = ["qOne","qTwo","qThree","qFour","qFive","qSix"];
var SURVEY_RESULTS = ["","","","","",""];
var CURRENT_PANEL = 0;
//event listener
document.getElementById("goalName").addEventListener("change", function(){
  SURVEY_RESULTS[0] = document.getElementById("goalName").value;
});
document.getElementById("goalRange").addEventListener("mousemove", function(){
  if(mouseDown){
    document.getElementById("myGoal").value = ((document.getElementById("goalRange").value*20) + (Math.floor(document.getElementById("goalRange").value/50)*80*(document.getElementById("goalRange").value-50)));
  }
});

//next button
document.getElementById("next").addEventListener("click", function(){
  //see if you are at the last position
  console.log(CURRENT_PANEL);
  if(CURRENT_PANEL < (SURVEY_DIVS.length-1)){
    //go to the next pannel
    goToPanel(CURRENT_PANEL + 1);
    CURRENT_PANEL ++;
    updateButtonStates();
    updateProgressBar()

  }
});
//previous
document.getElementById("previous").addEventListener("click", function(){
  //see if you are at the last position
  console.log(CURRENT_PANEL);
  if(CURRENT_PANEL > 0){
    //go to the next pannel
    goToPanel(CURRENT_PANEL - 1);
    CURRENT_PANEL --;
    updateButtonStates();
    updateProgressBar()

  }
});

document.getElementById("goalRange").addEventListener("mousemove", function(){
    document.getElementById("myAge").innerHTML = '<span class="badge badge badge-secondary">'+document.getElementById("ageRange").value + '</span>';
    //document.getElementById("myGoal").innerHTML = '<span class="badge badge badge-success">'+document.getElementById("goalRange").value + '</span>';
});

//supporting functions
function goToPanel(pannelIndex){
  //set the current div to hidden
  document.getElementById(SURVEY_DIVS[CURRENT_PANEL]).style.display = "none";
  //set the new div to visible
  document.getElementById(SURVEY_DIVS[pannelIndex]).style.display = "block";
}


function updateButtonStates(){
  if(CURRENT_PANEL == (SURVEY_DIVS.length-1)){// hide the next
    document.getElementById("next").style.display = "none";
  }else{//show the next
    document.getElementById("next").style.display = "block";
  }
  if(CURRENT_PANEL == 0){// hide the next
    document.getElementById("previous").style.display = "none";
  }else{//show the next
    document.getElementById("previous").style.display = "block";
  }
}

function updateProgressBar(){

    document.getElementById("progressBar").style.width = (((CURRENT_PANEL + 1)/SURVEY_DIVS.length)*100).toString() + "%";

}



// To check about the mouse
var mouseDown = 0;
document.body.onmousedown = function() {
  ++mouseDown;
}
document.body.onmouseup = function() {
  --mouseDown;
}



</script>
{% endblock %}
