<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}CAN-Wealth{% endblock %}</title>
    <link href="{{ url_for('static', filename = 'css/index.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename = 'lib/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />

  </head>
  <body>

    <!-- Header nav bar containing logo and says that its the beta -->
    <nav id="top" class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">
        <img src="/static/images/logo.png"  class="nav navbar-nav navbar-left" alt="">
      </a>

        <span class="badge badge-danger">Beta</span>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Launch demo modal
        </button>

              <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <!-- Form that will be triggered when modal is clicked -->
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>


              <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </form>

      </div>

    </nav>




  {% block body %}
  {% endblock %}

    <footer class="footerContainer">
        <p class="float-right"><a href="top">Back to top</a></p>
        <p>© 2016 Canadian Wealth Inc. MNKY Studio, All rights reserved. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>

      <script src="{{ url_for('static', filename = 'lib/js/bootstrap.js') }}"></script>
</body>
</html>
